*{
	position:relative;
	float:left;
	font-family:Arial;
	font-size:20px;
}
body, html{
	padding:0;
	margin:0;
}
#main, body, html{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	min-width:500px;
	overflow-x:hidden;
}

/* STATUSBAR */
#statusbar
{
	position:absolute;
	height:3rem;
	width:100%;
	color:white;
	background:#222222;
}
#statusbar #connectionStatus
{
	padding-left:1%;
}
#statusbar #ip
{
	margin-left:1%;
}
#statusbar #wsVersion
{
	float:right;
	margin-right:1%;
}
#statusbar .icon
{
	float:right;
	height:60%;
	width:auto;
	padding:0.6rem;
	background:grey;
}
#statusbar .icon:not(:first-of-type)
{
	margin-right:1px;
}
#statusbar .icon:hover
{
	cursor:pointer;
	background:lightgrey;
}

/* CONTENT */
#content
{
	width:100%;
	top:3rem;
	height: -webkit-calc(100% - 6rem);
	height: expression(100% - 6rem);
	height: -moz-calc(100% - 6rem);
	height: -o-calc(100% - 6rem);
	height: calc(100% - 6rem);
	background:#555555;
}
#content .column
{
	width:25%;
	height:100%;
	background:grey;
	color:white;
	font-weight:bold;
	-webkit-box-shadow: inset -1px 0px 0px 0px #222222;
	-moz-box-shadow:    inset -1px 0px 0px 0px #222222;
	box-shadow:         inset -1px 0px 0px 0px #222222;
}
#content .column .title
{
	height:6%;
	width:100%;
	font-size:3vh !important;
	text-align:center;
	-webkit-box-shadow: inset 0px -1px 0px 0px #222222;
	-moz-box-shadow:    inset 0px -1px 0px 0px #222222;
	box-shadow:         inset 0px -1px 0px 0px #222222;
}
#content .column .title:before
{
	content:"";
	height:100%;
	vertical-align:middle;
	display:inline-block;
}
#content .column .list
{
	height:94%;
	width:100%;
	overflow:auto;
}
#content .column .list .active
{
	color:greenyellow;
}
#content .column .list .error
{
	cursor:default !important;
	color:red !important;
}
#content .column .list div
{
	width:90%;
	padding:2% 5% 0% 5%;
}
#content .column .list div:hover
{
	cursor:pointer;
	color:lightblue;
}
#content .column .list div:first-child
{
	padding-top:5% !important;
}
#content .column .list div:last-child
{
	padding-bottom:5% !important;
}
/* POSITIONS */
#content .column .position
{
	position:absolute;
	right:0;
	height:6%;
	width:20%;
}
#content .column .position .pos-left, #content .column .position .pos-right
{
	font-size:4.3vh;
	height:100%;
	width:50%;
	text-align:center;
	cursor:pointer;
}
#content .column .position .pos-left:hover, #content .column .position .pos-right:hover
{
	color:lightgrey;
}
#content .column .position .deactivated
{
	color:#555555;
	cursor:default;
}
#content .column .position .deactivated:hover
{
	color:#555555;
}

#content #sources .list .invisible
{
	color:lightgrey;
}

/* OBS Bar */
#obsbar
{
	position:absolute;
	height:3rem;
	width:100%;
	color:white;
	bottom:0;
	background:#222222;
}
#obsbar #info
{
	float:left !important;
	margin-left:1%;
}
#obsbar div, #obsbar span
{
	float:right;
	margin-right:1%;
}

/* SETTINGS */
placeholder
{
	height:1px;
	width:105%;
	left:-2.5%;
	margin-top:2.5vh;
	margin-bottom:2.5vh;
	background:#555555;
}

#settings
{
	position:absolute;
	width:100%;
	height:100%;
	color:white;
	font-weight:bold;
	z-index:100;
}
#settings #background
{
	position:absolute;
	height:100%;
	width:100%;
	opacity:0.75;
	background:black;
}
#settings #s_content
{
	position:absolute;
	height:76%;
	width:76%;
	left:10%;
	top:9%;
	padding:1.5% 2% 1.5% 2%;
	background:grey;
	border:solid 1px black;
}

#settings #s_content #font-size
{
	width:100%;
}
#settings #s_content input[type=range]
{
	margin-top:1vh;
	width:100%;
}

#settings #s_content #change-layout
{
	height:auto;
	width:100%;
}
#settings #s_content #change-layout button
{
	height:7vh;
	width:100%;
}

#settings #s_content #twitch_name
{
	width:100%;
}
#settings #s_content #twitch_name div
{
	width:100%;
}
